html * {
	font-size: 12px;
}

input {
	background-color: rgb(255, 255, 213);
	width: 0;
}

input[disabled] {
	background-color: #eee;
}

input[type="radio"] {
	width: 20px;
}

/*
* ------------- HEADER --------------
*/
#application-header {
	background: url(../images/line-top.png) repeat-x left top;
}

#topmenu {
	
}

#topmenu-body {
	background: url(../images/line-bottom.png) repeat-x left top;
}

/*
* ------------- CONTENT --------------
*/
#application-content {
	background: url(../images/background.png);
}

#sidemenu {
	margin-right: 4px;
}

#sidemenu-content {
	background-color: #fff;
	padding: 32px 6px 6px 6px;
}

#adminPanel {
	margin-bottom: 6px;
	padding: 6px;
}

#docsPanel {
	padding: 6px;
}

#mainPanel {
	
}

#mainPanel-content {
	background: url(../images/logo-background.png) no-repeat center;
}