html * {
	font-size: 13px;
}

html {
	height: 100%;
}

body {
	background-color: #eee;
	height: 100%;
	width: 100%;
	box-sizing: border-box;
	margin: 0px;
}

input {
	background-color: rgb(255, 255, 213);
	width: 0;
}

input[disabled] {
	background-color: #eee;
}

input[type="radio"] {
	width: 20px;
}

/*
* ------------- HEADER --------------
*/
#application-header {
	background: url(../images/line-top.png) repeat-x left top;
	position: fixed;
	width: 100%;
	margin-top: 0px;
}

#topmenu {
	display: flex;
}

#topmenu-body {
	background: url(../images/line-bottom.png) repeat-x left top;
}

/*
* ------------- CONTENT --------------
*/
#application-content {
	background: url(../images/background.png);
	display: flex;
	height: 100%;
	padding: 35px 4px 4px 4px;
}

#sidemenu {
	height: 100%;
	flex: 1 1 20%;
	margin-right: 4px;
}

#sidemenu-content {
	background-color: #fff;
	height: 100%;
	padding: 32px 6px 6px 6px;
}

#adminPanel {
	margin-bottom: 6px;
	padding: 6px;
}

#docsPanel {
	padding: 2px 6px;
}

#mainPanel {
	flex: 1 1 80%;
	min-width: 1000px;
}

#mainPanel-content {
	background: url(../images/background-logo.png) no-repeat center;
	height: 100%;
}

/*
* ------------- CKEDITOR --------------
*/
.ck-content p {
	margin: 2px 0px;
	text-indent: 20px;
	font-size: 14px;
}

.ck-content h3 {
	text-indent: 20px;
	font-size: 14px;
}

.ck-content .table table th {
	border: 1px solid rgb(170, 170, 170);
}

.ck-content .table table td {
	text-align: left;
	border: 1px solid rgb(170, 170, 170);
}